extends layout
block scripts
    script(type='text/javascript' src='/commons.js')
    script(type='text/javascript' src='/authBundle.js')
block content
    form#change(name='change' action='/change' method='post')
        - if (!user.pe)
        - {
            div
                label Current password:
                input(type='password' name='pw')
        - }
        div
            label New password:
            input(type='password' name='np')
        div
            label Confirm new password:
            input#confirmPassword(type='password' name='cnp')
        div
            input(type='submit' value='Submit')
        div= message
        br
        a(href='/plans') Plan home
