block scripts
    link(rel='stylesheet' href='/appStyles.css')
    script(type='text/javascript' src='/commons.js')
    script(type='text/javascript' src='/authBundle.js')
block content
    div#loginbox
        a.button(href='/login') Log In
        br
        a.button(href='/signup') Sign Up
