extends layout
block scripts
    script(type='text/javascript' src='/commons.js')
    script(type='text/javascript' src='/authBundle.js')
    script(type='text/javascript' src='https://www.google.com/recaptcha/api.js
    ?onload=onloadCallback&render=explicit' async defer)
block content
    form#login(name='login' action='/login' method='post')
        div
            label Email address:
            input(type='text' name='_id')
        div
            label Password:
            input(type='password' name='pw')
        - if (captcha)
        - {
            div.g-recaptcha(data-sitekey='6LeF6R4TAAAAAONP0EH3UOTa3MRyzCbSRbM8OCUk')
        - }
        div
            input(type='submit' value='Submit')
        div= message
        br
        a(href='/signup') Sign up
        br
        a(href='/reset') Forget password
