extends layout
block scripts
    script(type='text/javascript' src='/commons.js')
    script(type='text/javascript' src='/authBundle.js')
    script(type='text/javascript' src='https://www.google.com/recaptcha/api.js' defer)
block content
    form#signup(name='signup' action='/signup' method='post')
        div
            label Email address:
            input(type='text' name='_id')
        div
            label Display name:
            input(type='text' name='dn')
        div
            label Password:
            input(type='password' name='pw')
        div
            label Confirm password:
            input#confirmPassword(type='password' name='cpw')
        - if (captcha)
        - {
            div.g-recaptcha(data-sitekey='6LeF6R4TAAAAAONP0EH3UOTa3MRyzCbSRbM8OCUk')
        - }
        div
            input(type='submit' value='Submit')
        div= message
        br
        a(href='/login') Log in
