.loginForm
{
	
}

.emErrorMsg
{
	display: inline-block;
}

.pwErrorMsg
{
	display: inline-block;
}

.errorMsg
{
	height: 20px;
	background-color: red;
}

.signup
{
	display: inline-block;
}

.reset
{
	margin-left: 50px;
	display: inline-block;
}