.signupForm
{

}

.emErrorMsg
{
	display: inline-block;
}

.dnErrorMsg
{
	display: inline-block;
}

.pwErrorMsg
{
	display: inline-block;
}

.cpwErrorMsg
{
	display: inline-block;
}

.errorMsg
{
	height : 20px;
	background-color: red;
}

.login
{}